<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">About Us</h1>
          <p class="text-center sub-heading">Grow your business with us</p>
          <div class="row">
            <div class="col-md-6 col-12 hero-text">
                <figure>
                    <img src="images/about.svg" alt="growth">
                </figure>
            </div>
              <!-- Right side -->
            <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                  <h1>WE ARE PROFESSIONAL DEVELOPER</h1>
                  <p>We are the team of <span class="bold-style">Crater✌️</span></p>
                  <button class="btn-syle btn-primary">Read More</button>
              </div> 
          </div>
        </div>
    </div>
</div>